:root {
    --primary-color: #845ec2;
    --secondary-color: #d65db1;
    --background-color: #fef7ff;
    --text-color: #4b4453;
    --border-color: #d6e5eb;

    --font-family: 'Segoe UI', Arial, sans-serif;
    --button-text-color: #fff;
    --button-danger: #ff8066;
}

body {
    margin: 16px;
    font-family: var(--font-family);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    width: max-content;
    padding: 16px;
    margin: 0 auto;
}

.card__list {
    list-style: none;
    margin-bottom: 16px;
}

.card__list-item {
    margin-bottom: 8px;
    border: 1px solid var(--border-color);
    padding: 4px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
}

.card__footer {
    display: flex;
    gap: 2px;
}

.button {
    border: 0;
    line-height: 0;
    cursor: pointer;
    padding: 0 4px;
    border-radius: 2px;
    color: var(--button-text-color);
}

.button:hover {
    opacity: 0.7;
}

.button--primary {
    background-color: var(--primary-color);
}
.button--danger {
    background-color: var(--button-danger);
}